<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>
</head>
<body>
<h1 th:text="${chatRoom.chatRoomName}"></h1>

<div>
    <!-- 채팅 내용 표시 -->
    <ul>
        <li th:each="message : ${messages}">
            <span th:text="${message.senderId}"></span>:
            <span th:text="${message.messageText}"></span>
        </li>
    </ul>
</div>

<!-- 메시지 입력 폼 -->
<form id="messageForm">
    <input type="text" id="message" placeholder="Enter a message"/>
    <button type="submit">Send</button>
</form>

<div id="messages">
    <!-- 수신된 메시지가 여기에 표시됩니다 -->
</div>

<!--<script src="/your-socket-io-library.js"></script>--> <!-- Socket.io 라이브러리 불러오기 -->
<script>
    var stompClient = null;

    function connect() {
        var socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({},
            function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/messages', function (message) {
                    var parsedMessage = JSON.parse(message.body);
                        showMessage(parsedMessage.content);
                });
            }
        );
    }

    function sendMessage() {
        var messageContent = document.getElementById('message').value;
        stompClient.send("/app/sendSimpleMessage", {}, JSON.stringify({'content': messageContent}));
        document.getElementById('message').value = '';
    }

    function showMessage(message) {
        console.log(message);
        var messagesDiv = document.getElementById('messages');
        var messageParagraph = document.createElement('p');
        messageParagraph.appendChild(document.createTextNode(message));
        messagesDiv.appendChild(messageParagraph);
    }

    document.getElementById('messageForm').addEventListener('submit', function(event) {
        event.preventDefault();
        sendMessage();
    });

    // 웹 페이지가 로드되면 웹소켓에 연결합니다.
    window.onload = connect;
</script>
</body>
</html>
