<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat Room List</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/main/messenger.css}">
</head>
<body>

<header th:replace="layouts/header::header"></header>

<main>
    <div class="messenger-container">
        <div class="messenger-title">
            <h1>Culture Stay Messenger</h1>
            <input type="hidden" id="userId" th:value="${userId}"></input>
        </div>

        <div class="messenger-content">
            <div class="chatRoomList-container">
                <!-- 대화 상대 검색 버튼 -->
                <button id="searchUserButton">대화 상대 검색</button>

                <!-- 모달 창 -->
                <div id="searchUserModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <input type="text" id="searchUserInput" placeholder="사용자 검색"/>
                        <button id="searchUserSubmit">검색</button>
                        <div id="searchResult"></div>
                    </div>
                </div>

                <div id="chatRoomList">

                </div>
            </div>

            <div class="chatroom-container">
                <!-- 채팅방 이름 -->

                <!-- 채팅 내용 표시 -->
                <div id="chatroom">

                </div>

                <button id="scrollToBottom" class="scroll-to-bottom"></button>

                <!-- 메시지 입력 폼 -->
                <form id="messageForm">
                    <input type="text" id="message" placeholder="Enter a message"/>
                    <button type="submit">Send</button>
                </form>

            </div>
        </div>
    </div>
</main>

<footer th:replace="layouts/footer::footer"></footer>

<script th:src="@{/js/messenger.js}"></script>
</body>
</html>
