<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat Room List</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>
    <style>
        .messenger-content {
            display: flex;
        }
    </style>
</head>
<body>

<main>
    <div class="messenger-container">
        <div class="messenger-title">
            <h1>Chat Room List</h1>
            <input type="hidden" id="userId" th:value="${userId}"></input>
        </div>

        <div class="messenger-content">
            <div class="chatRoomList-container">
                <div id="chatRoomList">

                </div>
                <a href="#">Create New Chat Room</a> <!-- 새로운 채팅룸 생성 링크 -->
            </div>

            <div class="chatroom-container">
                채팅방 이름

                <!-- 채팅 내용 표시 -->
                <div id="chatroom">

                </div>

                <!-- 메시지 입력 폼 -->
                <form id="messageForm">
                    <input type="text" id="message" placeholder="Enter a message"/>
                    <button type="submit">Send</button>
                </form>

            </div>
        </div>
    </div>
</main>

<script>
    var stompClient = null;
    var userId = document.getElementById('userId').value;
    var chatRoomId = null;

    function connect() {
        var socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({},
            function (frame) {
                console.log('Connected: ' + frame);
                stompClient.subscribe('/topic/chatRoomList', function (chatRoomList) {
                    // 메시지를 받으면 채팅방 리스트 업데이트
                    showChatRoomList(JSON.parse(chatRoomList.body));
                });
                stompClient.subscribe('/topic/getMessages', function (messages) {
                    // 메시지를 받으면 채팅방 업데이트
                    showChatRoom(JSON.parse(messages.body));
                });
                stompClient.subscribe('/topic/sendMessage', function (message) {
                    addChatElement(JSON.parse(message.body));
                });
                initChatRoomList();
            }
        );
    }

    function initChatRoomList(){
        var userId = document.getElementById('userId').value;
        stompClient.send("/app/getChatRoomList", {}, JSON.stringify({
                'userId': userId
            })
        );
    }

    function showChatRoomList(chatRoomData) {
        var chatRoomsDiv = document.getElementById('chatRoomList');
        chatRoomsDiv.innerHTML = ''; // 기존 리스트를 초기화

        chatRoomData.forEach(function(chatRoom) {
            var chatRoomElement = document.createElement('li');
            var chatRoomLink = document.createElement('a');
            chatRoomLink.href = '#'; // 페이지 이동을 방지하기 위해 '#' 사용
            chatRoomLink.textContent = chatRoom.chatRoomName;
            chatRoomLink.setAttribute('data-chatRoomId', chatRoom.chatRoomId);

            // 클릭 이벤트 리스너 추가
            chatRoomLink.addEventListener('click', function(event) {
                event.preventDefault(); // 링크의 기본 동작(페이지 이동)을 방지
                var chatRoomId = this.getAttribute('data-chatRoomId');
                getChatRoom(chatRoomId);
            });

            chatRoomElement.appendChild(chatRoomLink);
            chatRoomsDiv.appendChild(chatRoomElement);
        });
    }

    function getChatRoom(clickedId) {
        chatRoomId = clickedId;
        stompClient.send("/app/getMessages", {}, JSON.stringify({
                'chatRoomId': chatRoomId,
                'userId': userId
            })
        );
    }

    function showChatRoom(messages) {
        var chatRoomDiv = document.getElementById('chatroom');
        chatRoomDiv.innerHTML = ''; // 기존 리스트를 초기화

        messages.forEach(function(message) {
            addChatElement(message)
        });
    }

    function addChatElement(message) {
        var chatDiv = document.createElement('div');

        var senderIdElement = document.createElement('span');
        var messageTextElement = document.createElement('span');
        var isReadElement = document.createElement('span');
        
        senderIdElement.textContent = message.senderId;
        messageTextElement.textContent = message.messageText;
        isReadElement.textContent = message.isRead;
        
        chatDiv.appendChild(senderIdElement);
        chatDiv.appendChild(messageTextElement);
        chatDiv.appendChild(isReadElement);

        chatRoomDiv.appendChild(chatDiv);
    }

    function sendMessage() {
        var messageText = document.getElementById('message').value;

        stompClient.send("/app/sendMessage", {}, JSON.stringify({
                'messageText': messageText,
                'chatRoomId': chatRoomId,
                'userId': userId
            })
        );
        document.getElementById('message').value = '';
    }

    document.getElementById('messageForm').addEventListener('submit', function(event) {
        event.preventDefault();
        sendMessage();
    });
    
    connect();
</script>

</body>
</html>
