<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat Room List</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>

    <link rel="stylesheet" th:href="@{/css/main/messenger.css}">


</head>
<body>

<header th:replace="layouts/header::header"></header>

<main>
    <div class="messenger-container">
        <div class="messenger-title">
            <h1>Chat Room List</h1>
            <input type="hidden" id="userId" th:value="${userId}"></input>
        </div>

        <div class="messenger-content">
            <div class="chatRoomList-container">
                <div id="chatRoomList">

                </div>
                <a href="#">Create New Chat Room</a> <!-- 새로운 채팅룸 생성 링크 -->
            </div>

            <div class="chatroom-container">
                채팅방 이름

                <!-- 채팅 내용 표시 -->
                <div id="chatroom">

                </div>

                <button id="scrollToBottom" class="scroll-to-bottom">최신 메시지 보기</button>

                <!-- 메시지 입력 폼 -->
                <form id="messageForm">
                    <input type="text" id="message" placeholder="Enter a message"/>
                    <button type="submit">Send</button>
                </form>

            </div>
        </div>
    </div>
</main>

<footer th:replace="layouts/footer::footer"></footer>

<script>
    var scrollToBottomButton = document.getElementById('scrollToBottom');

    var stompClient = null;
    var chatRoomId = null;
    var userId = document.getElementById('userId').value;    
    var chatRoomDiv = document.getElementById('chatroom');
    var currentChatRoomSubscription = null;
    var currentSendMessageSubscription = null;

    // 웹소켓 관련 function
    function connect() {
        var socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({},
            function (frame) {
                console.log('Connected: ' + frame);
                // 채팅방 리스트 가져오기 구독
                stompClient.subscribe('/topic/chatRoomList/' + userId, function (chatRoomList) {
                    showChatRoomList(JSON.parse(chatRoomList.body)); // 결과 값을 받으면 function 실행
                });
                initChatRoomList();
            }
        );
    }

    function initChatRoomList(){
        var userId = document.getElementById('userId').value;
        stompClient.send("/app/getChatRoomList", {}, JSON.stringify({
                'userId': userId
            })
        );
    }


    function showChatRoomList(chatRoomData) {
        var chatRoomsDiv = document.getElementById('chatRoomList');
        chatRoomsDiv.innerHTML = ''; // 기존 리스트를 초기화

        chatRoomData.forEach(function(chatRoom) {
            var chatRoomElement = document.createElement('li');
            var chatRoomLink = document.createElement('a');
            chatRoomLink.href = '#'; // 페이지 이동을 방지하기 위해 '#' 사용
            chatRoomLink.textContent = chatRoom.chatRoomName;
            chatRoomLink.setAttribute('data-chatRoomId', chatRoom.chatRoomId);

            // 클릭 이벤트 리스너 추가
            chatRoomLink.addEventListener('click', function(event) {
                event.preventDefault(); // 링크의 기본 동작(페이지 이동)을 방지
                var chatRoomId = this.getAttribute('data-chatRoomId');
                getChatRoom(chatRoomId);
            });

            chatRoomElement.appendChild(chatRoomLink);
            chatRoomsDiv.appendChild(chatRoomElement);
        });
    }

    function getChatRoom(clickedId) {
        chatRoomId = clickedId;
        // 기존에 구독된 채팅방 구독 해제 및 신규 구독
        if (currentChatRoomSubscription) {
            currentChatRoomSubscription.unsubscribe();
        }
        currentChatRoomSubscription = stompClient.subscribe('/topic/chatRoom/' + chatRoomId, function (messages) {
            showChatRoom(JSON.parse(messages.body));
        });

        // 채팅 보내기 구독 해제 및 신규 구독
        if (currentSendMessageSubscription) {
            currentSendMessageSubscription.unsubscribe();
        }
        currentSendMessageSubscription = stompClient.subscribe('/topic/sendMessage/' + chatRoomId, function (message) {
            addChatElement(JSON.parse(message.body)); 
        });

        // 메시지 목록 요청
        stompClient.send("/app/getMessages", {}, JSON.stringify({
                'chatRoomId': chatRoomId,
                'userId': userId
            })
        );
    }

    function showChatRoom(messages) {
        chatRoomDiv.innerHTML = ''; // 기존 리스트를 초기화

        messages.forEach(function(message) {
            addChatElement(message)
        });
    }

    // isRead 확인을 위한 새로고침
    var chatContainer = document.querySelector('.chatroom-container');
    chatContainer.addEventListener('focus', function() {
        if (chatRoomId) {
            getChatRoom(chatRoomId);
        }
    });

    function addChatElement(message) {
        var chatDiv = document.createElement('div');

        var senderIdElement = document.createElement('span');
        var messageTextElement = document.createElement('span');
        var isReadElement = document.createElement('span');
        
        senderIdElement.textContent = message.senderId;
        messageTextElement.textContent = message.messageText;
        isReadElement.textContent = message.isRead;
        
        chatDiv.appendChild(senderIdElement);
        chatDiv.appendChild(messageTextElement);
        chatDiv.appendChild(isReadElement);

        chatRoomDiv.appendChild(chatDiv);

        // Check if the 'Scroll to Bottom' button is currently hidden
        if (!scrollToBottomButton.classList.contains('show')) {
            // If hidden, scroll to the bottom
            chatRoomDiv.scrollTop = chatRoomDiv.scrollHeight;
        }
    }

    function sendMessage() {
        var messageText = document.getElementById('message').value;

        stompClient.send("/app/sendMessage", {}, JSON.stringify({
                'messageText': messageText,
                'chatRoomId': chatRoomId,
                'senderId': userId
            })
        );
        document.getElementById('message').value = '';
    }

    document.getElementById('messageForm').addEventListener('submit', function(event) {
        event.preventDefault();
        sendMessage();
    });
    
    connect();


    // 스크롤 관련 function
    // Scroll to Bottom button logic
    scrollToBottomButton.addEventListener('click', function() {
        chatRoomDiv.scrollTop = chatRoomDiv.scrollHeight;
        scrollToBottomButton.classList.remove('show');
    });

    // Update the logic for the scroll event listener
    chatRoomDiv.addEventListener('scroll', function() {
        // If the user scrolls up, disable auto-scroll to bottom
        if (chatRoomDiv.scrollTop < chatRoomDiv.scrollHeight - chatRoomDiv.clientHeight) {
            scrollToBottomButton.classList.add('show');
        } else {
            // User scrolled to the bottom, re-enable auto-scroll
            scrollToBottomButton.classList.remove('show');
        }
    });
</script>

</body>
</html>
