<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" th:href="@{/css/header_style.css}">
<link rel="stylesheet" th:href="@{/css/main_style.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<style>

</style>
</head>
<body>
<!-- 헤더 섹션-->
<header style="background: transparent;">

	<div class="header-container header-top">

		<div class="logo">
			<a href="#"><img th:src="@{/img/culture_stay_logo.png}" alt="CultureStay"></a>
		</div>

		<nav class="menu">
			<h2><a href="#">프로그램</a></h2>
			<h2><a href="#">커뮤니티</a></h2>
		</nav>


		<div class="dropdown">
			<button class="dropbtn" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-bars"></i> <!-- 메뉴 아이콘 -->
				<i class="fas fa-user-circle"></i> <!-- 사용자 아이콘 -->
			</button>
			<div class="dropdown-content" aria-label="submenu">
				<a href="#">회원가입</a>
				<a href="#">로그인</a>
				<hr>
				<a href="#">도움말</a>
			</div>
		</div>
	</div>

</header>

<main>
	<section class="board-container">
		<div class="board-title">
			<h2>인기 게시글 or 최신</h2>
		</div>

		<div class="board-card">
			<article class="card-image">
				<img th:src="@{/img/board/img.png}" alt="게시글 1">
			</article>

			<article class="card-image">
				<img th:src="@{/img/board/img_1.png}" alt="게시글 2">
			</article>
		</div>
	</section>

	<br><br>
	<hr>
	<br><br>

	<section class="search-section">
		<div class="header-container header-bottom">
			<div class="search-bar">
				<!-- 지역 입력란 -->
				<input type="text" placeholder="지역 검색" aria-label="지역">

				<!-- 체크인 날짜 선택 -->
				<input type="date" aria-label="체크인 날짜">

				<!-- 체크아웃 날짜 선택 -->
				<input type="date" aria-label="체크아웃 날짜">

				<!-- 프로그램 입력란 -->
				<input type="text" placeholder="프로그램 검색" aria-label="프로그램">

				<!-- 검색 버튼 -->
				<button type="submit" aria-label="검색">
					<span class="icon-search"><i class="fas fa-search"></i></span> <!-- Font Awesome 검색 아이콘 -->
				</button>
			</div>
		</div>
	</section>

	<br><br>

	<section class="board-container">
		<div class="board-title">
			<h2>00님을 위한 추천 프로그램</h2>
			더보기
		</div>

		<div class="board-card">
			<article class="card-image">
				<img th:src="@{/img/board/img_2.png}" alt="게시글 이미지">
			</article>

			<article class="card-content">
				<h2>제목</h2>
				<p>콘텐츠</p>
				<p>태그</p>
				<button type="button">가격</button>
			</article>
		</div>

		<div class="board-card">
			<article class="card-image">
				<img th:src="@{/img/board/img_3.png}" alt="게시글 이미지">
			</article>

			<article class="card-content">
				<h2>제목2</h2>
				<p>콘텐츠</p>
				<p>태그</p>
				<button type="button">가격</button>
			</article>
		</div>
	</section>

	<section>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</section>
</main>




</body>
</html>