<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Home</title>
	<link rel="stylesheet" th:href="@{/css/header_style.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<style>
		.menu {
			width: 80%;
			height: 100%;
			margin: 0;
			display: flex;
    		align-items: baseline;
		}

		.menu h3 {
			width: 100px;
			margin-right: 20px; /* Space between menu items */
    		align-items: baseline;
		}

		.menu a {
			text-decoration: none; /* 밑줄 제거 */
			color: black; /* 원하는 색상으로 설정 (파란색으로 지정) */
			font-weight: bold;
		}
	</style>
</head>
<body>
<!-- 헤더 섹션-->
<header style="background: transparent;">

	<div class="header-container header-top">

		<div class="logo">
			<a href="#"><img th:src="@{/img/culture_stay_logo.png}" alt="CultureStay"></a>
		</div>

		<nav class="menu">
			<h3><a href="#">프로그램</a></h3>
			<h3><a href="#">커뮤니티</a></h3>
		</nav>


		<div class="dropdown">
			<button class="dropbtn" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-bars"></i> <!-- 메뉴 아이콘 -->
				<i class="fas fa-user-circle"></i> <!-- 사용자 아이콘 -->
			</button>
			<div class="dropdown-content" aria-label="submenu">
				<a href="#">회원가입</a>
				<a href="#">로그인</a>
				<hr>
				<a href="#">도움말</a>
			</div>
		</div>

	</div>

</header>

<main>

</main>


</body>
</html>