<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>글쓰기 화면</title>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>

<link rel="stylesheet" th:href="@{/css/header_style.css}">
<link rel="stylesheet" th:href="@{/css/main_style_test.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<style>
	label, input[type="text"], textarea {
		display: block;
		margin-bottom: 10px;
	}

	input[type="text"], textarea {
		width: 100%;
		padding: 8px;
	}

</style>
</head>
<body>

<!-- 헤더 섹션-->
<header th:replace="layouts/header::header"></header>


<main>
	<h2>글쓰기</h2>
	<form method="post" action="서버 URL">
		<input type="text" id="title" name="title" placeholder="제목">

		<textarea id="content" name="content"></textarea>

		<br>
		<div class="button-right">
			<button type="submit">작성</button>
		</div>
	</form>
</main>

<footer th:replace="layouts/footer::footer"></footer>

<script>
	CKEDITOR.replace('content', {
		height: 500 // 에디터 높이를 500px로 설정
	});
</script>
</body>
</html>