<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" th:href="@{/css/header_style.css}">
<link rel="stylesheet" th:href="@{/css/main_style_test.css}">
<link rel="stylesheet" th:href="@{/css/footer.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<style>

</style>
</head>
<body>

<!-- 헤더 섹션-->
<header th:replace="layouts/header::header"></header>


<main>
	<section class="board-container">
		<div class="board-title">
			<h2>인기 게시글 or 최신</h2>
		</div>

		<div class="board-card">
			<article class="card-image">
				<img th:src="@{/img/board/img.png}" alt="게시글 1">
			</article>

			<article class="card-image">
				<img th:src="@{/img/board/img_1.png}" alt="게시글 2">
			</article>
		</div>
	</section>

	<br><br>
	<hr>
	<br><br>

	<section class="search-section">
		<div class="header-container header-bottom">
			<div class="search-bar">
				<!-- 지역 입력란 -->
				<input type="text" placeholder="지역 검색" aria-label="지역">

				<!-- 체크인 날짜 선택 -->
				<input type="date" aria-label="체크인 날짜">

				<!-- 체크아웃 날짜 선택 -->
				<input type="date" aria-label="체크아웃 날짜">

				<!-- 프로그램 입력란 -->
				<input type="text" placeholder="프로그램 검색" aria-label="프로그램">

				<!-- 검색 버튼 -->
				<button type="submit" aria-label="검색">
					<span class="icon-search"><i class="fas fa-search"></i></span> <!-- Font Awesome 검색 아이콘 -->
				</button>
			</div>
		</div>
	</section>

	<br><br>

	<section class="board-container">
		<div class="board-title">
			<h2>00님을 위한 추천 프로그램</h2>
			<div class="add_link"><a href="#">더보기</a></div>
		</div>

		<div class="board-card">
			<article class="image-article">
				<div class="image-container">
					<div class="image-wrapper">
						<img th:src="@{/img/board/img_2.png}" alt="게시글 이미지">
					</div>

					<div class="image-wrapper">
						<img th:src="@{/img/board/img_3.png}" alt="게시글 이미지">
					</div>
				</div>

				<div class="image-container-sub">
					<h4>프로그램 이름</h4>
				</div>
			</article>

			<article class="content-article">
				<h2>제목</h2>
				<p>콘텐츠</p>
				<div class="content-article-footer">
					<p>#태그 #태그 </p>
					<p>$999,999</p>
				</div>
			</article>
		</div>

		<div class="board-card">
			<article class="card-image">
				<img th:src="@{/img/board/img_3.png}" alt="게시글 이미지">
			</article>

			<article class="content-article">
				<h2>제목</h2>
				<p>콘텐츠</p>
				<div class="content-article-footer">
					<p>#태그 #태그 </p>
					<p>$999,999</p>
				</div>
			</article>
		</div>
	</section>

	<br><br>

	<section class="board-container">
		<div class="board-title">
			<h2>인기 Best</h2>
			<div class="add_link"><a href="#">더보기</a></div>
		</div>

		<div class="board-card">
			<article class="card-image">
				<img th:src="@{/img/board/img_2.png}" alt="게시글 이미지">
			</article>

			<article class="content-article">
				<h2>제목</h2>
				<p>콘텐츠</p>
				<div class="content-article-footer">
					<p>#태그 #태그 </p>
					<p>$999,999</p>
				</div>
			</article>
		</div>

		<div class="board-card">
			<article class="card-image">
				<img th:src="@{/img/board/img_3.png}" alt="게시글 이미지">
			</article>

			<article class="content-article">
				<h2>제목</h2>
				<p>콘텐츠</p>
				<div class="content-article-footer">
					<p>#태그 #태그 </p>
					<p>$999,999</p>
				</div>
			</article>
		</div>
	</section>

	<section>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</section>
</main>

<footer th:replace="layouts/footer::footer"></footer>

</body>
</html>