<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abcde.cultureStay.dao.MemberDAO">

	<select id="searchId" parameterType="String" resultType="Member">
		select 
			* 
		from 
			cultureStay_member
		where 
			userid like #{searchId}
	</select>
	
	<insert id="joinMember" parameterType="Member">
    INSERT INTO cultureStay_member
    (
        userid
        , password
        , name
        , gender
        , birth
        , phone
        , address_postcode
        , address_address
        , address_detailAddress
        , address_extraAddress
        , email
        , introduce
        <if test="ogProfileImage != null and svProfileImage != null">
			, ogProfileImage
			, svProfileImage
			</if>
    )
    VALUES
    (
        #{userid}
        , #{password}
        , #{name}
        , #{gender}
        , #{birth}
        , #{phone}
        , #{address_postcode}
        , #{address_address}
        , #{address_detailAddress}
        , #{address_extraAddress}
        , #{email}
        , #{introduce}
        <if test="ogProfileImage != null and svProfileImage != null">
			, #{ogProfileImage}
			, #{svProfileImage}
			</if>
    )
</insert>

<select id="selectUser" parameterType="String" resultType="Member">
		select * from cultureStay_member where userid like #{userId}
	</select>
	
	
	<update id="updateUser" parameterType="Member">
    UPDATE cultureStay_member
    SET
        <if test="password != null or password != ''">password = #{password},</if>
       
        phone = #{phone}
        , address_postcode = #{address_postcode}
        , address_address = #{address_address}
        , address_detailAddress = #{address_detailAddress}
        , address_extraAddress = #{address_extraAddress}
        , email = #{email}
        , introduce = #{introduce}

    WHERE
        userid = #{userid}
</update>


</mapper>