<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abcde.cultureStay.dao.MemberDAO">

	<select id="searchId" parameterType="String" resultType="Member">
		select 
			* 
		from 
			cultureStay_member
		where 
			userid like #{searchId}
	</select>
	
	<insert id="joinMember" parameterType="Member">
    INSERT INTO cultureStay_member
    (
        userid
        , password
        , name
        , gender
        , birth
        , phone
        , address
        , email
        <if test="profileImagePath != null">
        , profileImagePath
        
			</if>
    )
    VALUES
    (
        #{userid}
        , #{password}
        , #{name}
        , #{gender}
        , #{birth}
        , #{phone}
        , #{address}
        , #{email}
         <if test="profileImagePath != null">
        , #{profileImagePath}
        
			</if>
    )
</insert>

<select id="selectUser" parameterType="String" resultType="Member">
		select * from cultureStay_member where userid like #{userId}
	</select>
	
	<update id="updateUser" parameterType="Member">
		update 
			cultureStay_member
		set
			
			 phone = #{phone}
			, address = #{address}
			, email = #{email}
			<if test="profileImagePath != null">
        	, profileImagePath = #{profileImagePath}
        	</if>
			<if test="password != null or password != ''">
			, password = #{password}
			</if>
			
        
		where
			userid = #{userid}
	</update>


</mapper>