<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abcde.cultureStay.messenger.MessengerDAO">
    <insert id="createChatRoom" parameterType="ChatRoom">
        INSERT INTO ChatRooms (chatRoomId, chatRoomName, createdUserId)
        VALUES (ChatRooms_seq.nextval, #{chatRoomName}, #{createdUserId})
    </insert>

    <select id="getChatRoomList" parameterType="String" resultType="ChatRoom">
        select * from chatrooms
    </select>

    <select id="getChatRoom" parameterType="Long" resultType="ChatRoom">
        select * from chatrooms where chatRoomId = #{chatRoomId}
    </select>

    <select id="getMessages" parameterType="Long" resultType="Message">
        select * from messages where chatRoomId = #{chatRoomId}
    </select>


    <insert id="saveMessages" parameterType="Message">
        INSERT INTO Messages (messageId, chatRoomId, senderId, messageText, messageType)
        VALUES (Messages_seq.nextval, #{chatRoomId}, #{senderId}, #{messageText}, #{messageType})
    </insert>

    <select id="getMemberCount" parameterType="Long" resultType="Long">
        SELECT count(distinct userId)
        FROM ChatRoomMembers CM
        JOIN Messages Me ON Me.chatRoomId == CM.chatRoomId
        WHERE CM.chatRoomId == #{chatRoomId}
    </select>

    <update id="updateIsRead" parameterType="map">
        update Messages set isRead = isRead -1
        where chatRoomId = #{chatRoomId}
        and isRead > 0
        and senderId != #{userId}
    </update>
</mapper>