<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.abcde.cultureStay.dao.ProgramDAO">

	<!--///////// 가장 첫 메인 홈 화면 ///////// -->
	<!-- 인기 프로그램 --><!-- 수정해야댐 -->
	<select id="homePopular" resultType="Program">
		select * from Program
	</select>
	<!-- 유저별 추천 프로그램 -->	<!-- 수정해야댐 -->
	<select id="homeRecommend" parameterType="String"
		resultType="Program">
		select * from Program
	</select>

	<!-- ///////////프로그램 화면////////////// --><!-- 수정해야댐 -->
	<select id="programMainlist" parameterType="Map"
		resultType="Program">
		SELECT *
		FROM Program
		<if test="searchWord != null">
			<where>
				upper(title) like '%' || upper(#{searchWord}) || '%'
			</where>
		</if>


	</select>

	<!-- 글쓰기 -->
	<insert id="pWrite" parameterType="Program">
		insert into Program
		(
		programNum
		, userid
		, title
		, content
		, address
		,detailed_address
		, price

		, start_date
		, end_date

		) values (
		programNum_seq.nextval
		, #{userid}
		, #{title}
		, #{content}
		, #{address}
		,#{detailed_address}
		, #{price}

		, #{start_date}
		, #{end_date}
		)
	</insert>


	<select id="readProgram" parameterType="int"
		resultType="Program">

		select * from
		Program
		where
		programNum = #{programNum}

	</select>

	<!-- 수정해야댐 -->
	<insert id="recentClick" parameterType="map">
	insert into recentClick
		(
		
		clickNum
		,programNum
		, userid
	

		) values (
		clickNum_seq.nextval
		, #{programNum}
		, #{userid}
	
		)

	</insert>


	<select id="pReviewList" parameterType="int" resultType="Reply">
		select
		*
		from
		Review
		where
		programNum = #{programNum}
		order by
		reviewNum
	</select>

	<update id="p_updateHits" parameterType="int">
		update
		Program
		set
		hits = hits + 1
		where
		programNum = #{programNum}
	</update>

	<select id="readProgramTag" parameterType="int"
		resultType="ProgramTag">
		select
		*
		from
		ProgramTag
		where
		programNum = #{programNum}
	</select><!-- 수정해야댐 -->

	<!-- 좋아요 -->
	<select id="likeCheck" parameterType="map" resultType="Integer">
		SELECT count(*)
		FROM Program_like
		WHERE programNum = #{programNum} AND userid = #{userid}
	</select>




	<insert id="createLike" parameterType="map">
		insert into Program_like
		( p_like_num
		,userid
		,programNum
		)
		values (
		p_like_num_seq.nextval
		, #{userid}
		, #{programNum}
		)

	</insert>

	<delete id="deleteLike" parameterType="map">
		delete
		Program_like
		where
		programNum = #{programNum}
		and userid = #{userid}

	</delete>


	<!-- 북마크 -->
	<select id="bookmarkCheck" parameterType="map"
		resultType="Integer">
		SELECT count(*)
		FROM Program_bookmark
		WHERE programNum = #{programNum} AND userid = #{userid}
	</select>

	<insert id="createBookmark" parameterType="map">
		insert into
		Program_bookmark
		( bookmark_num
		,userid
		,programNum
		)
		values (
		bookmark_num_seq.nextval
		, #{userid}
		, #{programNum}
		)

	</insert>

	<delete id="deleteBookmark" parameterType="map">
		delete
		Program_bookmark
		where
		programNum = #{programNum}
		and userid = #{userid}
	</delete>


</mapper>