<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Community</title>
	<link rel="stylesheet" th:href="@{/css/main/home.css}">
	<link rel="stylesheet" th:href="@{/css/main/list.css}">



</head>
<body>

<!-- 헤더 섹션-->
<header th:replace="layouts/header::header"></header>

<main>
	<section class="board-container">
		<div class="board-title">
			<h2>인기 게시글</h2>
		</div>

		<div class="pBoard-container">
			<article class="pBoard-article" th:each="popularBoard : ${popularBoards}">
				<div class="image-container">
					<div class="image-wrapper">
						<img th:src="${popularBoard.imagePath1}" alt="이미지">
					</div>
				</div>

				<div class="image-container-sub program-to-detail clickable"
					 th:data-boardnum="${popularBoard.boardnum}">
					<h4 th:text="${popularBoard.title}">프로그램 이름</h4>
				</div>
			</article>
		</div>
	</section>

	<br><br>
	<hr>
	<br><br>

	<section class="search-section">
		<div class="header-container header-bottom">
			<div class="search-bar">
				<!-- 지역 입력란 -->
				<input type="text" placeholder="지역 검색" aria-label="지역">

				<!-- 프로그램 입력란 -->
				<input type="text" placeholder="프로그램 검색" aria-label="프로그램">

				<!-- 검색 버튼 -->
				<button type="submit" aria-label="검색">
					<span class="icon-search"><i class="fas fa-search"></i></span> <!-- Font Awesome 검색 아이콘 -->
				</button>
			</div>
		</div>
	</section>

	<br><br>

	<section class="board-container">
		<div class="board-title-right">
			<div class="add_link"><a th:href="@{/board/write}">글쓰기</a></div>
		</div>

		<div class="board-card" th:each="board : ${boardList}">
			<article class="image-article">
				<div class="image-container">
					<div class="image-wrapper">
						<img th:src="@{/img/board/img_4.png}" alt="게시글 이미지">
					</div>

					<div class="image-wrapper">
						<img th:src="@{/img/board/img_5.png}" alt="게시글 이미지">
					</div>
				</div>

				<div class="image-container-sub board-to-detail clickable" th:data-boardnum="${board.boardnum}">
					<h4 th:text="${board.title}">프로그램 이름</h4>
				</div>
			</article>

			<article class="content-article">
<!--				<h2>제목</h2>-->
				<div>
					<p class="board-to-detail clickable truncate-contents"
					   th:text="${board.contents}" th:data-boardnum="${board.boardnum}"></p>
				</div>
				<div class="content-article-footer">
					<div class="tags">
						<a class="tag clickable">#태그1</a>
						<a class="tag clickable">#태그2</a>
					</div>
				</div>
			</article>
		</div>
	</section>

	<br><br>

	<section>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</section>
</main>

<footer th:replace="layouts/footer::footer"></footer>

<script th:src="@{/js/script.js}"></script>
<script>
	document.addEventListener('DOMContentLoaded', truncateContent);
</script>
</body>
</html>