<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" th:href="@{/css/header_style.css}">
	<link rel="stylesheet" th:href="@{/css/main/list.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div id="google_translate_element" class="hd_lang" style="float: right;position: relative;top: -4px;margin-left: 10px;"></div>
	
	
	<script>
		function googleTranslateElementInit() {
			new google.translate.TranslateElement({
				pageLanguage: 'en',
				includedLanguages: 'ko,en,ja,zh-CN,fr',
				//layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
				autoDisplay: false,
				multilanguagePage: true
			}, 'google_translate_element');
		}
	</script>
	<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>
<body>

<!-- 헤더 섹션-->
<header th:replace="layouts/header::header"></header>

<main>
	<section class="board-container">
		<div class="board-title">
			<h2>인기 게시글 or 최신</h2>
		</div>

		<div class="board-card">
			<article class="card-image">
				<img th:src="@{/img/board/img.png}" alt="게시글 1">
			</article>

			<article class="card-image">
				<img th:src="@{/img/board/img_1.png}" alt="게시글 2">
			</article>
		</div>
	</section>

	<br><br>
	<hr>
	<br><br>

	<section class="search-section">
		<div class="header-container header-bottom">
			<div class="search-bar">
				<!-- 지역 입력란 -->
				<input type="text" placeholder="지역 검색" aria-label="지역">

				<!-- 프로그램 입력란 -->
				<input type="text" placeholder="프로그램 검색" aria-label="프로그램">

				<!-- 검색 버튼 -->
				<button type="submit" aria-label="검색">
					<span class="icon-search"><i class="fas fa-search"></i></span> <!-- Font Awesome 검색 아이콘 -->
				</button>
			</div>
		</div>
	</section>

	<br><br>

<!--
<tr th:each="board : ${boardList}">
	<td th:text="${board.boardnum}"></td>
	<td th:text="${board.userid}"></td>
	<td>
		<a th:href="@{/board/read(boardnum=${board.boardnum})}"
		   th:text="${board.title}"></a>
	</td>
	<td th:text="${board.hits}"></td>
	<td th:text="${board.inputdate}"></td>
</tr>
-->
	<section class="board-container">
		<div class="board-title-right">
			<div class="add_link"><a th:href="@{/board/write}">글쓰기</a></div>
		</div>

		<div class="board-card" th:each="board : ${boardList}">
			<article class="image-article">
				<div class="image-container">
					<div class="image-wrapper">
						<img th:src="@{/img/board/img_4.png}" alt="게시글 이미지">
					</div>

					<div class="image-wrapper">
						<img th:src="@{/img/board/img_5.png}" alt="게시글 이미지">
					</div>
				</div>

				<div class="image-container-sub board-to-detail clickable" th:data-boardnum="${board.boardnum}">
					<h4 th:text="${board.title}">프로그램 이름</h4>
				</div>
			</article>

			<article class="content-article">
<!--				<h2>제목</h2>-->
				<div>
					<p class="board-to-detail clickable truncate-contents"
					   th:text="${board.contents}" th:data-boardnum="${board.boardnum}"></p>
				</div>
				<div class="content-article-footer">
					<div class="tags">
						<a class="tag clickable">#태그1</a>
						<a class="tag clickable">#태그2</a>
					</div>
				</div>
			</article>
		</div>
	</section>

	<br><br>

	<section>
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	</section>
</main>

<footer th:replace="layouts/footer::footer"></footer>

<script th:src="@{/js/script.js}"></script>
<script>
	document.addEventListener('DOMContentLoaded', truncateContent);
</script>
</body>
</html>