<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>조회</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- 달력 daterangepicker -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


    <link rel="stylesheet" th:href="@{/css/main/write.css}">
    <link rel="stylesheet" th:href="@{/css/main/detail.css}">
</head>

<body>

<header th:replace="layouts/header::header"></header>

<main>

    <div class="title-container">
        <div class="title-wrapper">
            <h2 th:text="${board.title}"></h2>
        </div>

        <div class="like-bookmark-wrapper">
            <input type="text" name="boardnum" th:value="${board.boardnum}">

            <input type="text" name="recommend" th:value="${board.recommend}"></input>
            <img class="mark clickable" id="recommend_img" src="/img/mark/unheart.png" alt="unheart" style="width: 20px; height: 20px;">
        </div>
    </div>


    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>

</main>

<footer th:replace="layouts/footer::footer"></footer>

<script th:src="@{/js/script.js}"></script>

</body>
</html>

