<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글 읽기</title>
<style>
	table td, th {
		text-align: center;
	}
</style>
<script>
	function deleteFunc(boardnum){
		if(confirm('삭제하시겠습니까?')){
			location.href = 'delete?boardnum=' + boardnum;
		}
	}
	
	//리플 삭제
	function deleteReply(replynum, boardnum){
		if(confirm('삭제하시겠습니까?')) {
			location.href = '../reply/deleteReply?replynum=' 
					+ replynum + '&boardnum=' + boardnum;
		}
	}

</script>
</head>
<body>
	<header>
		<h1>글 읽기</h1>
	</header>

	<table>
		<tr>
			<th>글번호</th>
			<td style="width: 80px;" th:text="${board.boardnum}"></td>
			<th>조회수</th>
			<td style="width: 50px;" th:text="${board.hits}"></td>
			<th>작성일</th>
			<td style="width: 150px;" th:text="${board.inputdate}"></td>
		</tr>
		<tr>
			<th>제목</th>
			<td colspan="3" th:text="${board.title}"></td>
			<th>작성자</th>
			<td th:text="${board.userid}"></td>
		</tr>
		<tr>
			<th colspan="6">내용</th>
		</tr>
		<tr>
			<td colspan="6" style="height: 250px;">
				<pre th:text="${board.contents}"></pre>
			</td>
		</tr>
		<tr>
			<th>첨부파일</th>
			<td colspan="5" style="text-align: left;">
				<a th:href="@{/board/download(boardnum=${board.boardnum})}" 
				th:text="${board.originalfile}"></a>
			</td>
		</tr>
	</table>
	
	<div th:if="${#authentication.name == board.userid}" style="text-align: center;">
		<a th:href="@{/board/update(boardnum=${board.boardnum})}">수정</a>
		<a th:href="|javascript:deleteFunc(${board.boardnum})|">삭제</a>
	</div>

	<section>
		<!-- 리플 작성 폼 -->
		<form th:action="@{/reply/writeReply}" method="post">
			리플내용
			<input type="hidden" name="boardnum" th:value="${board.boardnum}">
			<input type="text" name="replytext" style="width: 500px;">
			<input type="submit" value="확인">
		</form>
		
		<!-- 리플 목록 출력 -->
		<table class="reply">
			<tr th:each="reply : ${replyList}">
				<td class="replyid" th:text="${reply.userid}"></td>
				<td class="replytext" th:text="${reply.replytext}"></td>
				<td class="replydate" th:text="${reply.inputdate}"></td>
				<td class="white">
					<th:block th:if="${#authentication.name} == ${reply.userid}">
						<a th:href="|javascript:deleteReply(${reply.replynum}, ${reply.boardnum})|">
							<img th:src="@{/image/icon_delete_24.png}">
						</a>
					</th:block>
				</td>
			</tr>
		</table>
	</section>

</body>
</html>