<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>글수정</title>
<script>
//글수정폼 확인
function validation() {
	let title = document.getElementById('title');
	let contents = document.getElementById('contents');
	
	if (title.value.length < 5) {
		alert("제목을 입력하세요.");
		title.focus();
		title.select();
		return false;
	}
	if (contents.value.length < 5) {
		alert("내용을 입력하세요.");
		contents.focus();
		contents.select();
		return false;
	}
	return true;
}
</script>	
</head>
<body>
<header>
<h1>[ 글수정 ]</h1>
</header>

<section>
<!-- 바이너리 데이터 포함되는 폼. enctype 반드시 정확히 지정 -->
<form th:action="@{/board/update}"  method="post" 
	enctype="multipart/form-data" onsubmit="return validation();">
	
	<input type="hidden" name="boardnum" th:value="${board.boardnum}">
	
	<table>
	<tr>
		<th>제목</th>
		<td>
			<input type="text" name="title" id="title" style="width:400px;" th:value="${board.title}">
		</td>
	</tr>
	<tr>
		<th>내용</th> 
		<td>
			<textarea name="contents" id="contents" th:text="${board.contents}"></textarea>
		</td>
	</tr>
	<tr>
		<th>파일첨부</th> 
		<td>
			<input type="file" name="upload">
			<span th:text="${board.originalfile}"></span>
		</td>
	</tr>
	<tr>
		<td colspan="2" class="white center">
			<input type="submit" value="수정">
		</td> 
	</tr>
	</table>
</form>

</section>
</body>
</html>
