<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>글쓰기</title>
</head>
<body>

	<header>
		<h1>글쓰기</h1>
	</header>

	<form th:action="@{/board/write}" method="post" enctype="multipart/form-data">
	<table>
		<tr>
			<th>제목</th>
			<td>
				<input type="text" name="title" id="title" style="width:398px;">
			</td>
		</tr>
		<tr>
			<th>내용</th>
			<td>
				<textarea name="contents" id="contents"></textarea>
			</td>
		</tr>
		<tr>
			<th>첨부파일</th>
			<td>
				<input type="file" name="upload">
			</td>
		</tr>
		<tr>
			<td colspan="2" class="white" style="text-align: center;">
				<input type="submit" value="저장">
			</td>
		</tr>
	</table>
	</form>

</body>
</html>