<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<div id="google_translate_element" class="hd_lang" style="float: right;position: relative;top: -4px;margin-left: 10px;"></div>
	
<!-- 구글번역 api -->	
	<script>
		function googleTranslateElementInit() {
			new google.translate.TranslateElement({
				pageLanguage: 'en',
				includedLanguages: 'ko,en,ja,zh-CN,fr',
				//layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
				autoDisplay: false,
				multilanguagePage: true
			}, 'google_translate_element');
		}
	</script>
	<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!-- 구글번역 api -->	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>글쓰기 화면</title>
	<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>


	<link rel="stylesheet" th:href="@{/css/main/write.css}">


	<style>

	</style>
</head>
<body>

<!-- 헤더 섹션-->
<header th:replace="layouts/header::header"></header>


<main>
	<h2>글쓰기</h2>
	<form th:action="@{/board/write}" method="post" enctype="multipart/form-data">
		<div>
			<input type="text" id="title" name="title" placeholder="제목">
		</div>

		<div>
			<textarea id="contents" name="contents"></textarea>
		</div>

		<br>
		<div class="right-align">
			<button type="submit" class="btn-save">작성</button>
			<button type="reset" class="btn-cancel">취소</button>
		</div>

		<!-- 게시글 작성 뒤로가기 함수 -->
		<!--<script>
			function goBack() {
                // history 객체의 back 메서드 호출
                window.history.back();
            }
		</script>-->
		<!-- 게시글 작성 뒤로가기 버튼 -->
		<!--<button onclick="goBack()">뒤로 가기</button>-->
	</form>
</main>

<footer th:replace="layouts/footer::footer"></footer>

<script>
	CKEDITOR.replace("contents", {
		//filebrowserUploadMethod :'form',
		uploadUrl: "/image/upload",  // 이게 드래그 드롭을 위한 URL
		filebrowserUploadUrl:  "/image/upload",
		height: 500, // 에디터 높이를 500px로 설정
	});

</script>
</body>
</html>