<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>join</title>
</head>
<script>
   function idCheck() {
		// url경로, 이름, 속성
		//let win = window.open('idCheck', 'idwin', 'top=200, left=500, width=500, height=400');
		window.open('idCheck', '_blank', 'top=200, left=500, width=500, height=400');
	}

    function checkValid(){
        let userid = document.querySelector('#userid');
		let password = document.querySelector('#password');
		let password2 = document.querySelector('#password2');
		let username = document.querySelector('#username');
        let gender = document.querySelector('#gender');
        let birth = document.querySelector('#birth');

		if (userid.value.length < 3 || userid.value.length > 10) {
			alert("ID는 3~10자로 입력하세요.");
			return false;
		}
		
		if (password.value.length < 3 || password.value.length > 10) {
			alert("비밀번호는 3~10자로 입력하세요.");
			return false;
		}
		
		if (password.value != password2.value) {
			alert("비밀번호를 정확하게 입력하세요.");
			return false;
		}
		
		if (username.value == '') {
			alert("이름을 입력하세요.");
			return false;
		}
		if(!gender == 'm' || !gender == 'f'){
			alert("성별을 정확히 입력해주세요 ex)남자 = m 여자 = f");
			return false;
		}
		if(!birth.value.length == 8){
			alert("숫자 8자를 입력해주세요 ex)20231211");
			return false;
		}

		return true;
    }

    function checkLength(obj){
        if(obj.length < 3 || obj.length >=10) return false;
        return true;
    }
    
</script>
<body>
    <h1>회원가입</h1>
   
    <form th:action="@{/member/join}" method="post" onsubmit="return checkValid()" enctype="multipart/form-data">
       <table>
          <tr>
             <th>아이디</th>
             <td>
                <input type="text" name="userid" id="userid"
                readonly="readonly" onclick="idCheck();" placeholder="아이디를 입력">
                <input type="button" value="ID중복검사" onclick="idCheck();">
             </td>
          </tr>
          <tr>
             <th>비밀번호</th>
             <td>
                <input type="password" name="password" id="password" placeholder="비밀번호 입력">
             </td>
          </tr>
          <tr>
             <th></th>
             <td>
                <input type="password" name="password2" id="password2" placeholder="비밀번호 재입력">
             </td>
          </tr>
          <tr>
             <th>이름</th>
             <td>
                <input type="text" name="username" id="username" placeholder="이름 입력">
             </td>
          </tr>
          <tr>
             <th>성별</th>
             <td>
                <input type="text" name="gender" id="gender" placeholder="성별 ex)남:m,여:f">
             </td>
          </tr>
          <tr>
             <th>생년월일</th>
             <td>
                <input type="number" name="birth" id="birth" placeholder="숫자8자리 ex)20231211">
             </td>
          </tr>
          <tr>
             <th>전화번호</th>
             <td>
                <input type="text" name="phone" placeholder="전화번호 입력">
             </td>
          </tr>
          <tr>
             <th>주소</th>
             <td>
                <input type="text" name="address" placeholder="주소입력">
             </td>
          </tr>
          <tr>
             <th>이메일</th>
             <td>
                <input type="email" name="email" placeholder="이메일 입력">
             </td>
          </tr>
          <tr>
            <th>프로필사진</th>
            <td>
                <input type="file" name="profileImage" accept="image/*">
            </td>
        </tr>
          <tr>
            <td colspan="2">
               <input type="submit" value="가입">
            </td>
         </tr>
       </table>
    </form>
</body>
</html>