<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org"> 

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
   <style>
	  
        body {
            margin: 0;
            font-family: 'Arial', sans-serif;
        }

      #mypage-nav {
            background-color: white;
            width: 190px;
            position: fixed;
            left: 0;
             
            overflow: hidden;
            transition: 0.5s;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 20px;
            margin-right: 20px;

            margin-left: 20px;
            border-radius: 25px;
			border: solid #1F9CB3 1.5px;
        }

        #mypage-nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        #mypage-nav a {
            padding: 8px 16px;
            text-decoration: none;
            font-size: 18px;
            color: #1F9CB3;
            display: block;
            transition: 0.3s;
        }

        #mypage-nav a:hover {
            background-color: #1F9CB3;
            color: white;
             transition: 1s;
        }

        #content {
            margin-left: 220px; /* 네비게이션 너비 + 여유 여백 */
            padding: 16px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


	<link rel="stylesheet" th:href="@{/css/main/list.css}">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<link rel="stylesheet" th:href="@{/css/header_style.css}">
	<!--카카오주소api 로드-->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script th:src="@{/js/jquery-3.6.0.js}"></script>


</head>
<body>
<!-- 헤더 섹션-->
<header th:replace="layouts/header::header" style="z-index: 1000;  "></header>
<div id="google_translate_element" class="hd_lang" style="float: right;position: relative;top: -4px;margin-left: 10px;"></div>
<!-- 왼쪽 네비 섹션-->
<nav id="mypage-nav" >
	<ul>
		<li><a href="#" th:onclick="|loadContent('updateForm', event)|" th:text="회원정보수정"></a></li>
        <li th:if="${hasPrograms}"><a href="#" th:onclick="|loadContent('myProgram', event)|" th:text="'호스팅 관리'"></a></li>
        <li><a href="#" th:onclick="|loadContent('myReservation', event)|" th:text="'내 예약 관리'"></a></li>
        <li><a href="#" th:onclick="|loadContent('myBookmark', event)|" th:text="북마크"></a></li>

	</ul>
</nav> 
<!-- 동적으로 로드되는 컨텐츠 부분 -->
<div id="content">
    <!-- 여기에 동적으로 로드될 컨텐츠가 들어갑니다. -->
</div>

<!-- JavaScript 부분 -->
<script th:inline="javascript">
	 document.addEventListener('DOMContentLoaded', function() {
        // 페이지 로드 시 초기 메뉴 활성화
        loadContent('updateForm', new Event('click'));
    });
    function loadContent(url, event) {
        event.preventDefault();
        var contentDiv = document.getElementById('content');
        
        // Thymeleaf의 동적 URL 생성
        var dynamicUrl = /*[[@{/}]] + */ url;
        
        // AJAX를 이용하여 동적으로 페이지 로드
        var xhr = new XMLHttpRequest();
        xhr.open('GET', dynamicUrl, true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                contentDiv.innerHTML = xhr.responseText;
            }
        };
        xhr.send();
    }
    
    
    
     //이메일
      function sendNumber() {
		  $("#mail_number").css("display", "block");
         console.log("1차통과");
         $.ajax({
            url: "/mail",
            type: "post",
            dataType: "json",
            data: {"mail": $("#email").val()},
            success: function (data) {
               alert("인증번호를 발송했습니다.");
               $("#Confirm").attr("value", data);
            }
            , error: function (request, status, error) {
               alert("올바른 이메일을 입력하세요.")
               console.log("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
            }
         });
      }




      function confirmNumber() {
         var number1 = $("#number").val();
         var number2 = $("#Confirm").val();
         
          if (number2 == ""){
			alert("이메일 인증을 하세요")
			return false;
		} if (number1 == number2) {
            alert("인증되었습니다.");
            $("#hid").attr("check", "true");
         } else {
            alert("인증번호가 다릅니다.");
         }
      }
    
function checkValid(){
        let userid = document.querySelector('#userid');
		let password = document.querySelector('#password');
		let password2 = document.querySelector('#password2');
		let name = document.querySelector('#name');
        let gender = document.querySelector('#gender');
        let birth = document.querySelector('#birth');
        let phone = document.querySelector('#phone');
        let address_postcode = document.querySelector('#address_postcode');
        let address_address = document.querySelector('#address_address');
        let email = document.querySelector('#email');
        let mail_check = $("#hid").attr("check");
        let hidemail = document.querySelector('#hidemail');
        

		
		
		if (!password.value =='' && password.value.length < 3 || password.value.length > 10) {
			alert("비밀번호는 3~10자로 입력하세요.");
			return false;
		}
		
		if (password.value != password2.value) {
			alert("비밀번호를 정확하게 입력하세요.");
			return false;
		}
		if (phone.value == '') {
			alert("연락처를 입력하세요.");
			return false;
		}
		if (address_postcode.value == '') {
         alert("주소를 입력하세요.");
         return false;
      	}
      	if (address_address.value == '') {
         	alert("주소를 입력하세요.");
         	return false;
      	}
		
        if (email.value == '') {
			alert("이메일 인증 하세요!");
			return false;
		}
		if (email.value == hidemail.value) {
			return true;
		}
		if (mail_check == "false") {
            alert('이메일 인증 하세요');
            return false;
        }
       
         
         
		

		return true;
    }
    
   

    
     //카카오 주소입력 api
        function address() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = '';
                var extraAddr = '';

                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }

                if (data.userSelectedType === 'R') {
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    document.getElementById("address_extraAddress").value = extraAddr;
                } else {
                    document.getElementById("address_extraAddress").value = '';
                }

                document.getElementById('address_postcode').value = data.zonecode;
                document.getElementById("address_address").value = addr;
                document.getElementById("address_detailAddress").focus();
            }
        }).open();
    }
   function ch() {
	   let email = document.querySelector('#email');
	   let mail_check = $("#hid").attr("check");
	   console.log(email.value);
	   console.log(mail_check);
   }
    
   
</script>

</body>
</html>