<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h3>내 호스트 리뷰</h3>
	<table>
		<tr th:each="hostReview: ${hostReview}">
			<th th:text="${hostReview.reviewerID}"></th>
			<th th:text="${hostReview.stars}"></th>
			<td th:text="${hostReview.content}"> </td>
		</tr>
	</table>
 <h3>내 프로그램 리뷰</h3>
	
<div class="form-floating mb-3"  th:each="programReview: ${programReview}">
  <input type="text" readonly class="form-control-plaintext" id="floatingPlaintextInput" th:value="${programReview.content}">
  <label for="floatingPlaintextInput" th:text="${programReview.reviewerID}">Input with value</label>
</div>
	

</body>
</html>