<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원정보수정</title>
<script>
function checkValid(){
        let userid = document.querySelector('#userid');
		let password = document.querySelector('#password');
		let password2 = document.querySelector('#password2');
		let name = document.querySelector('#name');
        let gender = document.querySelector('#gender');
        let birth = document.querySelector('#birth');
        let phone = document.querySelector('#phone');
        let address = document.querySelector('#address');
        let email = document.querySelector('#email');
        let profileImage = document.querySelector('#profileImage');

		
		
		if (password.value.length < 3 || password.value.length > 10) {
			alert("비밀번호는 3~10자로 입력하세요.");
			return false;
		}
		
		if (password.value != password2.value) {
			alert("비밀번호를 정확하게 입력하세요.");
			return false;
		}
		if (phone.value == '') {
			alert("연락처를 입력하세요.");
			return false;
		}
		if (address.value == '') {
			alert("주소를 입력하세요.");
			return false;
		}
		if (email.value == '') {
			alert("메일주소를 입력하세요.");
			return false;
		}
		if (profileImage.value == null) {
			alert("프로필사진을 등록하세요");
			return false;
		}
		

		return true;
    }

    function checkLength(obj){
        if(obj.length < 3 || obj.length >=10) return false;
        return true;
    }
    
</script>
</head>
<body>
	<h1>회원정보 수정</h1>
	<form th:action="@{/member/update}" method="post" onsubmit="return checkValid()" enctype="multipart/form-data">
       <table>
          <tr>
             <th>아이디</th>
             <td th:text="${member.userid}"></td>></td>
             
          </tr>
          <tr>
             <th>비밀번호</th>
             <td>
                <input type="password" name="password" id="password" placeholder="새로운 비밀번호 입력">
             </td>
          </tr>
          <tr>
             <th></th>
             <td>
                <input type="password" name="password2" id="password2" placeholder="비밀번호 재입력">
             </td>
          </tr>
          <tr>
             <th>이름</th>
             <td th:text="${member.name}"></td>
          </tr>
          <tr>
             <th>성별</th>
             <td th:text="${member.gender}"></td>
          </tr>
          <tr>
             <th>생년월일</th>
             <td th:text="${member.birth}"></td>
          </tr>
          <tr>
             <th>전화번호</th>
             <td>
                <input type="text" name="phone" id="phone" th:value="${member.phone}">
             </td>
          </tr>
          <tr>
             <th>주소</th>
             <td>
                <input type="text" name="address" id="address" th:value="${member.address}">
             </td>
          </tr>
          <tr>
             <th>이메일</th>
             <td>
                <input type="email" name="email" id="email" th:value="${member.email}">
             </td>
          </tr>
          <tr>
            <th>프로필사진</th>
            <td>
                <input type="file" name="profileImage" id="profileImage" accept="image/*">
            </td>
        </tr>
          <tr>
            <td colspan="2">
               <input type="submit" value="수정">
            </td>
         </tr>
       </table>
    </form>

</body>
</html>