.board-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.board-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}




.board-card {
    display: flex;
    justify-content: space-evenly;
}

.image-article {
    width: 55%;
    margin: 10px;
}

.image-container, .image-container-sub{
    width: 100%;
    margin: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    text-align: center; /* image-container-sub 클래스용*/
}

.image-container-sub h4 {
    margin: 10px;
}

.board-card .image-container .image-wrapper {
    overflow: hidden; /* 확대될 때 이미지가 넘치는 부분을 숨김 */
    width: 45%;
    margin: 10px;
    position: relative;
    width: 100%;
}

.board-card .image-container .image-wrapper::before {
    content: '';
    display: block;
    padding-top: 75%; /* 16:9 비율 유지 */
    pointer-events: none;
}

.board-card .image-container .image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Hover effect */
.image-wrapper:hover img {
    transform: scale(1.1); /* 이미지를 확대 */
    z-index: 10; /* 확대된 이미지가 다른 이미지 위에 오도록 z-index 설정 */
    transition: transform 0.3s ease; /* 부드러운 transition 효과 */
}

.search-section {
    /*background-color: var(--secondary-color);*/
}



.content-article {
    /* 텍스트 콘텐츠를 위한 스타일 */
    width: 35%;
    margin: 10px;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}




.board-card .card-image{
    width: 45%;
    margin: 10px; /* Add some space around the articles */
    overflow: hidden; /* Ensures the scaled image does not overflow the article bounds */
    position: relative; /* hover 시 z-index 적용을 위해 position 설정 */
    transition: transform 0.3s ease; /* Smooth transition for the transform effect */
}

/* 비율을 유지하기 위한 패딩 트릭 */
.board-card .card-image::before {
    content: '';
    display: block;
    padding-top: 75%; /* 16:9 비율 = 56.25%, 4:3 비율 = 75%*/
    pointer-events: none; /* Ignore mouse events */
}

.board-card .card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너를 채움 */
    transition: transform 0.3s ease; /* Smooth transition for the transform effect */
}

.board-card .card-content {
    /* 텍스트 콘텐츠를 위한 스타일 */
    width: 45%;
    margin: 10px;
    transition: transform 0.3s ease;
    /* 추가 스타일 */
}

/* Hover effect */
.board-card .card-image:hover img {
    transform: scale(1.1); /* Enlarges the article on hover */
    z-index: 10; /* Ensure the scaled item is above others */
}

.search-section {
    /*background-color: var(--secondary-color);*/
}


.content-article-footer {
    display: flex;
    justify-content: space-between;
}


.add_link a {
    text-decoration: none; /* 밑줄 제거 */
    color: var(--primary-color); /* 원하는 색상으로 설정 (파란색으로 지정) */
    font-weight: bold;
}

/* hover 상태일 때 링크 스타일 */
.add_link a:hover {
    color: var(--secondary-color); /* hover 색상으로 변경 (예: 빨간색으로 설정) */
}

