input[type="text"],
input[type="number"],
textarea {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.cke {
    width: 100% !important;
    border: 1px solid var(--grey-color) !important; /* Custom border color */
}