<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<table> 
<h2>카카오페이 결제가 정상적으로 완료되었습니다.</h2>
	<tr>
		<th>결제일시</th> 
		<td>
			<p >2024-01-11</p>
		</td>
	</tr>
	<tr>
		<th>상품명</th> 
		<td>
			<p >culture_stay</p>
		</td>
	</tr>
	<tr>
		<th>결제금액</th> 
		<td>
			<p >1,500,000</p>
		</td>
	</tr>
	<tr>
		<th>결제방법</th> 
		<td>
			<p >kakao_pay</p>
		</td>
	</tr>
 </table>
 
 
<h2>[[${info}]]</h2>
 
</body>
</html>
