<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>작성 화면</title>

</head>



<p>&nbsp;</p>

<p>안녕하세요,</p>

<p>여수의 아름다운 풍경과 특별한 맛집투어로 여행을 즐길 수 있는 홈스테이를 소개합니다.</p>

<p>여수밤바다와 마주한 오션뷰, 그리고 실제로 느낄 수 있는 청량한 풍경과 함께 특별한 경험을 만들어보세요.</p>

<p><img alt="" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/169830409697616584.jpeg?w=1080" style="height:227px; width:170px" />&nbsp;<img alt="" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzEyMDlfNTIg%2FMDAxNzAyMDgyMzA3MTI2.MAMybWHKh-JOhFpObgITdb6sE_DTQ8Q3hmhkPsUyZY4g.HCVAp4gcsvyk5Eqenq1c1I12H5wJDwT3OFnd699KJrgg.JPEG.mitist%2F20230930%25A3%25DF172342.jpg&amp;type=ofullfill340_600_png" style="height:227px; width:170px" /></p>

<p>**1. 여수밤바다와 마주한 오션뷰 홈스테이** 여수의 밤바다는 그 아름다움으로 유명합니다. 우리의 홈스테이는 바다를 향한 오션뷰를 자랑하며, 숙소에서 바라보는 푸르른 바다 풍경은 보는 순간 청량함을 전해줍니다.</p>

<p><img alt="" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/snapshots/170101072471850649.jpeg?w=1080" style="height:675px; width:540px" /></p>

<p>**2. 보기만 해도 청량한 여수의 특별한 풍경** 여수는 그 독특한 지형과 함께 아름다운 풍경이 자리하고 있습니다. 숙소 주변의 자연 환경과 함께하는 여행은 보기만 해도 청량한 여수의 아름다움을 느낄 수 있는 특별한 기회입니다.</p>

<p><img alt="" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTExMDlfMTQ2%2FMDAxNjM2NDA3NjE5NTE0.W59sTqLmZYPC_nMKWmz3V0Sv2o3WT-ysPHYYHfwaL64g.WljHWgvg5d7a9NacPZIrggfrJQwPGtJTInRfzbgAkzwg.JPEG.dlehdud0814%2FIMG_3710.jpg&amp;type=a340" style="height:227px; width:170px" />&nbsp;<img alt="" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzAxMTlfODQg%2FMDAxNjc0MTI5NzAzMzUw.Mwj2Y-sz-le0xNheGx63FlexakGGYXPbjjK_h6WgiLsg.PicoYl_ZYgXXjBjWkXQJ6gkveklFVM0mYhC6k-gNHIUg.JPEG.minnn1015%2FIMG_3756.JPG&amp;type=a340" style="height:227px; width:170px" /></p>

<p>**3. 여수 맛집투어로 현지의 다양한 맛을 즐겨보세요** 우리의 홈스테이에서는 여수 맛집투어를 즐길 수 있는 특별한 패키지를 제공합니다. 지역의 신선한 재료를 사용한 다양한 음식들을 맛보며, 현지의 맛과 문화를 체험해보세요.</p>

<p><img alt="" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzEyMDZfMTY4%2FMDAxNzAxODQ0ODkyMzcx.kPsyyavHVcBrmw_JeyXd7r-LZKEE8FL2wx_XVfbtxpMg.IZkP7frvVldvk6j58WpjoyK0lCOGgLVrRwZUs2SH35og.JPEG.dlqfur32%2FIMG_4730.jpg&amp;type=a340" style="height:227px; width:170px" />&nbsp;<img alt="" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzEwMDRfMjIx%2FMDAxNjk2Mzg3NDEzMDk3.djMPp6B3ttieIXKcg2t8uUKCxhh3of6nT1xuEVpuIQgg.2K7CieNm2zOgeIFQ6MijmJnCM_a66zfDGqDRrsixZKAg.JPEG.psk4015%2F20230817_194247.jpg&amp;type=a340" style="height:170px; width:170px" /></p>

<p>**4. 특별한 여행의 기회, 여수 홈스테이에서 만나다** 여수의 아름다운 풍경과 특별한 맛집투어를 즐기며, 우리 홈스테이에서는 특별한 여행의 기회를 제공합니다. 휴식과 즐거움이 공존하는 곳에서 여행을 통해 새로운 경험을 만들어보세요. 여수의 특별한 밤바다와 맛있는 음식, 그리고 오션뷰를 느끼며 행복한 순간을 즐겨보세요.</p>

<p><img alt="" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/166125695906373827.jpg?w=1080" style="height:405px; width:540px" /></p>

<p>여수에서 특별한 홈스테이로 여행을 떠나, 아름다운 순간을 함께 만들어보세요!</p>




</html>