/* Program Detail Style*/
.with-reservation-container {
    display: flex;
    justify-content: space-between;
}

.reservation-left{
    width: 65%;
}

.reservation-container {
    width: 30%;
    display: flex; /* Flex container 설정 */
    justify-content: center; /* 수평 가운데 정렬 설정 */
}

.reservation-article{
    background-color: white;
    width: 300px; /* 너비 조절 */
    height: 320px;
    display: flex; /* Flex container 설정 */
    flex-direction: column;
    align-items: center;

    /* stick로 스크롤에 따라가기*/
    position: -webkit-sticky;
    position: sticky;
    top: 100px; /* 헤더 높이에 따라 조정 */
    bottom: 100px; /* 푸터 높이에 따라 조정 */
    margin-top: 20px; /* 헤더와의 간격 */
    margin-bottom: 20px; /* 푸터와의 간격 */
    margin-left: auto; /* 오른쪽 정렬 */
    right: 0;
    z-index: 5; /* 다른 요소들 위에 표시 */

    border-radius: 10px; /* 라운드 처리 */
    padding: 20px; /* 여백 추가 */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
}

.date-wrapper {
    width: 100%;
    text-align: center;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button-wrapper {
    width: 100%;
    text-align: center; /* 버튼 가운데 정렬 */
}

.btn-save {
    width: 100%;
}

.price-sum {
    width: 100%;
    margin-top: 20px;
}

.price-detail {
    display: flex;
    justify-content: space-between;
    /* Additional styling */
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.like-bookmark-wrapper {
    display: flex;
    justify-content: flex-end; /* Align icons to the right */
    align-items: center; /* Center items vertically */
    margin-top: auto; /* Push to the bottom of the container */
}

.like-bookmark-wrapper .mark {
    padding: 10px;
}

.clickable {
    cursor: pointer; /* 마우스 호버 시 포인터 모양 변경 */
}

.price {
    font-size: 20px; /* Example size */
}

.per-night {
    font-size: 16px; /* Example smaller size */
}

/*태그 체크리스트 출력 스타일*/
.theme-print ul {
    list-style-type: none;
    padding: 0;
}

.theme-print li {
    background-color: #f2f2f2;
    padding: 5px 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: inline-block; /* for horizontal layout */
    margin-right: 5px;
}

.reply-form {
    display: flex;
    justify-content: space-between;
}

/* 테이블 전체 스타일 */
.reply {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* 테이블 헤더 및 행 스타일 */
.reply th, .reply td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* 테이블 열 스타일 */
.reply td.replyid {
    width: 20%;
}

.reply td.content {
    width: 50%;
}

.reply td.replydate {
    width: 20%;
}

/* "삭제" 버튼 스타일 */
.reply input[type="button"] {
    background-color: #f44336; /* 빨간색 */
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.reply input[type="button"]:hover {
    background-color: #d32f2f; /* 버튼 호버 시 더 어두운 빨간색 */
}

/* 반응형 디자인 */
@media screen and (max-width: 600px) {
    .reply td.replyid, .reply td.replydate {
        display: none; /* 화면이 작을 때 ID와 날짜 숨김 */
    }
}
