<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h2>프로그램 신청화면</h2>

<table>
	<tr>
			<th>start_date</th>
		
			<td>
				<pre th:text="${start_date}"></pre>
			</td>
		</tr>
		
		<tr>
			<th>end_date</th>
		
			<td>
				<pre th:text="${end_date}"></pre>
			</td>
		</tr>
</table>
<br>
<h2>checklist</h2>
<form th:action="@{/program/apply}" method="post">

	<div>
		<h4>1. 일번질문</h4>		
		<input type = "radio" name = "one" value = "1"> yes
		<input type = "radio" name = "one" value = "0"> no
	</div>
	<div>
		<h4>2. 이번질문</h4>		
		<input type = "radio" name = "two" value = "1"> yes
		<input type = "radio" name = "two" value = "0"> no
	</div>
	
		<input type = "text" name = "note" value = "비고">
<br>
<input type="submit" value="저장"> 

</form>



</body>
</html>