<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
<h3>내 프로그램 관리</h3>
	<table>
		<tr th:each="program: ${programList}">	
			<th th:text="${program.programNum}"></th>
 			<td><a th:href="@{/program/detail(programNum=${program.programNum})}" 
					 th:text="${program.title}"></a></td>
		</tr>
	</table>
		
<h3>예약현황</h3>		
<h4>예약상태(0:수락대기/1:수락완료/2:프로그램종료)</h4>
	<table>
			<tr th:each="reservation: ${reservation}">	 
			<th>프로그램 번호</th>
			<td th:text="${reservation.programNum}"></td>
			<td>
				<a th:href="@{/program/accept(reserNum=${reservation.reserNum})}" 
					th:text="new"></a>
			</td>
			<td th:text="${reservation.inputdate}"></td>
			<th>예약상태</th>
			<td th:text="${reservation.status}">
				<a th:href="@{/program/review(reserNum=${reservation.reserNum})}" 
					th:text="리뷰"></a>
			</td>
		</tr>
	</table>
	<br>
	
 <h3>내가 신청한 프로그램</h3>		
	<table>
			<tr th:each="myReservation: ${myReservation}">	 
			<th>프로그램 번호</th>
			<td th:text="${myReservation.programNum}"></td>
			<td>
				<a th:href="@{/program/detail(programNum=${myReservation.programNum})}" 
					th:text="프로그램정보"></a>
			</td>
			<th>예약날짜</th>
			<td th:text="${myReservation.start_date}"></td>
			<th>예약상태</th>
			<td th:text="${myReservation.status}"></td>
		</tr>
	</table>
</body>
</html>