<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>조회</title>

	<link rel="stylesheet" th:href="@{/css/header_style.css}">
	<link rel="stylesheet" th:href="@{/css/main/write.css}">
	<link rel="stylesheet" th:href="@{/css/main/detail.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>
<body>

<!-- 헤더 섹션-->
<header th:replace="layouts/header::header"></header>

<main>

	<!-- -사진<br>-->
	<!-- -기본정보(제목,호스트, 위치, 리뷰, 가격, 날짜, 조회수)<br>-->
	<!-- -컨텐츠<br>-->
	<!-- -프로그램 태그(접근성 및 편의시설, 건물유형, 위치지도?,호스트언어,태그)<br>-->
	<!-- -좋아요, 북마크 상태(0이면 없음, 1이면 있음)-->

	<!-- 프로그램 설명 컨테이너-->
	<div>
		<div class="with-reservation-container">
			<div class="reservation-left">
				<div>
					<h2 th:text="${program.title}"></h2>
				</div>
		
				<div>
					<p th:utext="${program.content}"></p>
				</div>
		
				<div>
					체크 리스트
				</div>
			</div>

			<div class="reservation-container">
				<article class="reservation-article">
					<div class="date-select">
						<div class="dateinput" id="dateinput"></div>

						<div>
							<input type="text" class="dateinput" id="start_date" name="start_date" placeholder="시작 날짜"></input>
						</div>

						<div>
							<input type="text" class="dateinput" id="end_date" name="end_date" placeholder="종료 날짜"></input>
						</div>
					</div>

					<div class="button-wrapper">
						<button type="submit" class="btn-save">작성</button>
					</div>

					<div class="price-sum">
						<p>price</p>
					</div>
				</article>
			</div>
		</div>
		
		<div>
			<!--리뷰-->
		</div>

		<div>
			지도
		</div>

		<div>
			호스트 정보
		</div>

		<div>
			<!--주의사항: 알아두어야 할 사항-->
		</div>
	</div>

<br><br>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	
<table>
		<tr>
			<th>글번호</th>
			<td style="width: 80px;" th:text="${program.programNum}"></td>
			<th>조회수</th>
			<td style="width: 50px;" th:text="${program.hits}"></td>
			<th>작성일</th>
			<td style="width: 150px;" th:text="${program.inputdate}"></td>
		</tr>
		<tr>
			<th>제목</th>
			<td colspan="3" ></td>
			<th>작성자</th>
			<td th:text="${program.userid}"></td>
		</tr>
		<tr>
			<th>내용</th>
		
			<td>

			</td>
		</tr>
		<tr>
			<th>시작일</th>
		
			<td>
				<pre th:text="${program.start_date}"></pre>
			</td>
		</tr>
		<tr>
			<th>마감</th>
		
			<td>
				<pre th:text="${program.end_date}"></pre>
			</td>
		</tr>
			<tr>
			<th>가격(1박기준)</th>
		
			<td>
				<pre th:text="${program.price}"></pre>
			</td>
		</tr>
		<tr>
			<th>좋아요여부</th>
		
			<td>
				<pre th:text="${program_like}"></pre>
			</td>
		</tr>
		
		<tr>
			<th>북마크여부</th>
		
			<td>
				<pre th:text="${program_bookmark}"></pre>
			</td>
		</tr>
		
	</table>(1:좋아요, 0:좋아요아님)
	<br><br>
비회원은 클릭 못하도록 설정
<br>
<form th:action="@{/program/like}" method="post">
    <button type="submit">좋아요</button>
    
    <input type="hidden" name="programNum" th:value="${program.programNum}">

</form>

<form th:action="@{/program/bookmark}" method="post">
    <button type="submit">북마크</button>
     <input type="hidden" name="programNum" th:value="${program.programNum}">

</form>
<br>
<form th:action="@{/program/apply}" method="get">
	날짜선택(달력)
	<table>
			<tr>
			<th>start_date</th>
			<td>
				<textarea name="start_date" ></textarea>
			</td>
		</tr><tr>
			<th>end_date</th>
			<td>
				<textarea name="end_date" ></textarea>
			</td>
		</tr>
	</table>
	<input type="hidden" name="programNum" th:value="${program.programNum}">

    <button type="submit">예약하기</button>

</form>

</main>

<footer th:replace="layouts/footer::footer"></footer>

</body>
</html>