<!DOCTYPE html>
<html xmlns:th="thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>조회</title>

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- 달력 daterangepicker -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


	<link rel="stylesheet" th:href="@{/css/main/write.css}">
	<link rel="stylesheet" th:href="@{/css/main/detail.css}">

	<style>
		.title {
			font-size: 25px;
			font-weight: 600;
		}

		.stars {
			color: gold;
			/* 별점 색상 설정 */
			display: inline-block;
		}

		.fa-star {
			color: gold;
			font-size: 35px;
		}



		.review {
			background-color: #F7F8E0;
			border-radius: 8px;
			border: 1.5px solid #cfcfc6;
			padding: 20px;
		}
		
		#mapParent{
			width: 100%;
			height: 300px; 
			padding: 5px;  
			display: flex;
			flex-direction: row;
			background-color: #F7F8E0;
			border-radius: 8px;
			border: 1.5px solid #cfcfc6;
		}
		
		.mapChild{
			flex: 1 0 auto;
			padding: 5px;  

		}
		
		
		
	</style>


</head>

<body>

	<!-- 헤더 섹션-->
	<header th:replace="layouts/header::header"></header>

	<main>

		<!-- 홈스테이 설명 컨테이너-->
		<div>
			<div class="with-reservation-container">
				<div class="reservation-left">
					<div class="title-container">
						<div class="title-wrapper">
							<h2 th:text="${program.title}"></h2>
						</div>

						<div class="like-bookmark-wrapper">
							<input name="like" th:value="${program_like}" hidden="hidden"></input>
							<input name="bookmark" th:value="${program_bookmark}" hidden="hidden"></input>
							<input name="price" th:value="${program.price}" hidden="hidden"></input>

							<img class="mark clickable" id="like_img" src="/img/mark/unheart.png" alt="unheart"
								style="width: 20px; height: 20px;">
							<img class="mark clickable" id="bookmark_img" src="/img/mark/unbookmark.png"
								alt="unbookmark" style="width: 20px; height: 20px;">
						</div>
					</div>

					<div>
						<p th:utext="${program.content}"></p>
					</div>

					<br>
					<hr><br>

					<div class="feature-container">
						<div class="theme-print">
							<h3>홈스테이 테마</h3>
							<ul>
								<li th:if="${programTag.active}">활동적</li>
								<li th:if="${programTag.creative}">창의적</li>
								<li th:if="${programTag.healing}">힐링</li>
								<li th:if="${programTag.traditional}">전통</li>
								<li th:if="${programTag.cookingExperience}">요리체험</li>
								<li th:if="${programTag.scenicView}">뷰</li>
								<li th:if="${programTag.countryside}">시골</li>
								<li th:if="${programTag.city}">도시</li>
								<li th:if="${programTag.festival}">축제</li>
								<li th:if="${programTag.drive}">드라이브</li>
								<li th:if="${programTag.socializing}">친목</li>
								<li th:if="${programTag.tranquil}">한적한</li>
							</ul>

						</div>

						<hr>

						<div class="theme-print">
							<h3>호스트용 체크리스트</h3>
							<ul>
								<li th:if="${programTag.separateBathroom}">화장실과 욕실 분리</li>
								<li th:if="${programTag.bathtub}">욕조</li>
								<li th:if="${programTag.wifi}">와이파이</li>
								<li th:if="${programTag.transformer}">변압기</li>
								<li th:if="${programTag.pajamasProvided}">파자마(잠옷)</li>
								<li th:if="${programTag.hairdryer}">헤어드라이기</li>
								<li th:if="${programTag.basicToiletriesProvided}">기본 세면도구</li>
								<li th:if="${programTag.petFriendly}">반려동물 동반 가능</li>
								<li th:if="${programTag.roomAlone}">방 호자 사용</li>
								<li th:if="${programTag.langJapanese}">일본어 가능</li>
								<li th:if="${programTag.langEnglish}">영어 가능</li>
								<li th:if="${programTag.langKorean}">한국어 가능</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="reservation-container">
					<form id="myForm" th:action="@{/program/apply}" method="get">
						<article class="reservation-article">
							<div class="price-per">
								<span class="price"
									th:text="'₩' + ${#numbers.formatDecimal(program.price, 0, 'COMMA', 0, 'POINT')}"></span>
								<span>/1박</span> <span class="per-night"></span>
							</div>

							<br>

							<div class="date-wrapper">
								<div class="dateinput" id="dateinput"></div>

								<div>
									<input type="text" autocomplete="off" class="dateinput" id="start_date"
										name="start_date" placeholder="체크인"></input>
								</div>

								<div>
									<input type="text" autocomplete="off" class="dateinput" id="end_date"
										name="end_date" placeholder="체크아웃"></input>
								</div>
							</div>

							<br>

							<div class="button-wrapper">
								<button type="submit" class="btn-save" onclick="submitForm()">예약하기</button>
								<input type="hidden" name="programNum" th:value="${program.programNum}">
							</div>

							<div class="price-sum">
								<!-- Price per night multiplied by number of nights -->
								<div class="price-detail">
									<span>₩<span
											th:text="${#numbers.formatDecimal(program.price, 0, 'COMMA', 0, 'POINT')}"></span>
										<span class="x-night" id="daysValue">x0박</span></span>
									<span class="price-total">₩<span class="totalPrice">0</span></span>
								</div>
								<input type="hidden" name="days" id="hiddenDays" value="">

								<br>
								<hr>

								<!-- Total sum -->
								<div class="price-detail">
									<span>총 합계</span>
									<span class="price-total">₩<span class="totalPrice" id="totalPrice">0</span></span>
									<!-- Sum of price and fee -->
								</div> <input type="hidden" name="totalPrice" id="hiddenPrice" value="">

							</div>
						</article>
					</form>
				</div>
			</div>

			<br>
			<hr><br>

			<div style="width: 100%;">
				<!--리뷰-->
				<h2>리뷰</h2>
				<div class="review">
					<div style="display: flex; align-items: center; ">
						<!-- 별점 평균 계산 -->
						<i class="fas fa-star"></i>
						<h4 class="title" th:text="${programAvg}"></h4>
					</div>
					<table>
						<tr>
							<th th:text="'리뷰 '+${#lists.size(programReview) + '건'}"></th>
						</tr>
						<div>
							<tr th:each="programReview: ${programReview}">
								<th th:text="${programReview.reviewerID}"></th>
								<!-- 별점을 표현하는 Font Awesome 별 아이콘 -->
								<td>
									<div class="stars" th:each="star : ${#numbers.sequence(1, programReview.stars)}">
										<i class="fas fa-star"></i>
									</div>
								</td>
								<td th:text="${programReview.content}"> </td>
							</tr>
						</div>

					</table>
				</div>
			</div>

			<br>
			<hr><br>

			<div style="width: 100%;">
				<h2>호스팅 지역</h2>
				<div id="mapParent">
					<div id="address" class="mapChild" style="width:30%;">
						<h3>주소</h3>
						<pre th:text="'우편번호 : '+${program.postcode}"></pre>
						<pre th:text="'상세주소 : '+${program.address}" + "${program.detailed_address}"></pre>
				<br>상세주소지도넣기
				https://console.cloud.google.com/google/maps-apis/build/locator-plus?project=inbound-density-411507
					
					</div>
					<div id="googleMap" style="width:65%; background-color: blue" ></div>
				</div>
			</div>

			<br>
			<hr><br>

			<div style="width: 100%;">


				<div class="review">
					<h4 class="title" th:text="${program.userid + ' 호스트님의 평균 별점'}"></h4>
					<div style="display: flex; align-items: center; ">
						<!-- 별점 평균 계산 -->
						<i class="fas fa-star"></i>
						<h4 class="title" th:text="${hostAvg}"></h4>
					</div>
					<table>
						<tr>
							<th th:text="'리뷰 '+${#lists.size(hostReview) + '건'}"></th>
						</tr>
						<div>
							<tr th:each="hostReview: ${hostReview}">
								<th th:text="${hostReview.reviewerID}"></th>
								<!-- 별점을 표현하는 Font Awesome 별 아이콘 -->
								<td>
									<div class="stars" th:each="star : ${#numbers.sequence(1, hostReview.stars)}">
										<i class="fas fa-star"></i>
									</div>
								</td>
								<td th:text="${hostReview.content}"> </td>
							</tr>
						</div>

					</table>
				</div>
			</div>

			<div>
				<!--주의사항: 알아두어야 할 사항-->
			</div>
		</div>

		<br><br>

	</main>

	<footer th:replace="layouts/footer::footer"></footer>

	<script th:src="@{/js/script.js}"></script>
	<script>
		function submitForm() {
			// per-night 클래스를 가진 span 요소의 값을 가져옴
			var daysValue = document.getElementById('daysValue').innerText;
			var totalPrice = document.getElementById('totalPrice').innerText;

			// 가져온 값을 hidden input에 설정
			document.getElementById('hiddenDays').value = daysValue;
			document.getElementById('hiddenPrice').value = totalPrice;

			document.getElementById('myForm').submit();

		}
	</script>


<script>
	
   function myMap(){
      var mapOptions = { 
            center:new google.maps.LatLng(51.508742, -0.120850),
            zoom:5
      };
 
      var map = new google.maps.Map( 
             document.getElementById("googleMap") 
            , mapOptions );
   }
</script> 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU-o1BNLzLIcDQzL5S47RQzLkS0XhnSG8&callback=myMap"></script>

</body>

</html>