<!DOCTYPE html>
<html xmlns:th="thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" th:href="@{/css/header_style.css}">

</head>
<body>
<h2>프로그램 리스트</h2>


	<a sec:authorize="isAuthenticated()" th:href="@{/program/write}" th:text="글쓰기"></a>
<br><br><br>
<table>

		<tr>
			<th>글번호</th>
			<th>작성자</th>
			<th style="width:230px;">제목</th>
			<th>조회수</th>
			<th style="width:150px;">작성일</th>
		</tr>
		<!-- controller에서 model로 부터 받아온 데이터를 출력하는 부분 -->
		<tr th:each="programList : ${programList}">
			<td th:text="${programList.programNum}"></td>
			<td th:text="${programList.userid}"></td>
			<td>
				<a th:href="@{/program/detail(programNum=${programList.programNum})}" 
				   th:text="${programList.title}"></a>
			</td>
			<td th:text="${programList.hits}"></td>
		</tr>
	</table>
	
		<!-- 검색폼 -->

	<section class="search-section">
		<div class="header-container header-bottom">
			<div class="search-bar">
				<!-- 지역 입력란 -->
				<input type="text" placeholder="지역 검색" aria-label="지역">

				<!-- 체크인 날짜 선택 -->
				<input type="date" aria-label="체크인 날짜">

				<!-- 체크아웃 날짜 선택 -->
				<input type="date" aria-label="체크아웃 날짜">

				<!-- 프로그램 입력란 -->
				<input type="text" placeholder="프로그램 검색" aria-label="프로그램">

				<!-- 검색 버튼 -->
				<button type="submit" aria-label="검색">
					<span class="icon-search"><i class="fas fa-search"></i></span> <!-- Font Awesome 검색 아이콘 -->
				</button>
			</div>
		</div>
	</section>
	
</body>
</html>