<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@300;400;600;700&family=Jua&family=Nanum+Gothic+Coding:wght@400;700&display=swap');
	
		body {
			font-family: 'IBM Plex Sans KR', sans-serif;
		}
		#title {
			font-size: 25px;
			font-weight: 600;

		}
</style>
</head>
<body>
<h3 id="title">프로그램에 대한 후기를 작성해주세요!</h3>
<form th:action="@{/program/programReview}" method="post" enctype="multipart/form-data">
        <div>
            <input type="text" id="title" name="stars" placeholder="별점">
        </div>

        <div>
            <textarea id="content" name="content" placeholder="후기를 작성해주세요!"></textarea>
            <br>
        </div>

        <div class="right-align">
            <button type="submit" class="btn-save">작성</button>
            <button type="reset" class="btn-cancel">취소</button>
        </div>
        
        <input type="hidden" name="reserNum" th:value="${reservation.reserNum}">
        <input type="hidden" name="programNum" th:value="${program.programNum}">


    </form>
</body>
</html>